
/* Define color variables */
:root {
    --primary-color: #3B3A5D;
    --secondary-color: #B16642;
    --content-color: #8F8F8F;
    --link-color: #8F8F8F;
    --border-color: #B16642;
    --gradient-start:rgba(249, 242, 239, 0);
    --gradient-end: rgb(245, 201, 180);
    --background-color-button: #3B3A5E;
  }
  
  /* Apply the linear gradient background */
  .background-gradient {
    background: linear-gradient(to bottom, var(--gradient-start) 0%, var(--gradient-end) 100%);
  }

  .background{
    background: linear-gradient(to bottom, rgb(253, 240, 224) 0%,  #fac7af 100%);

  }
  
  /* Other styles */
  body {
    color: var(--content-color);
  }
  
  a {
    color: var(--link-color);
  }
  
  .primary {
    background-color: var(--primary-color);
  }

  .text-primary{
    color: var(--primary-color);
  }

  .text-secondary {
   color: #B16642
  }
  
  .secondary {
    background-color: var(--secondary-color);
  }
  
  .border {
    border-color: var(--border-color);
  }


  .card2-background{
    background: linear-gradient(142.75deg, #F3D1C1 2.44%, #FFEEE6 98.38%);

  }
  

  .background-gradient {
    background: linear-gradient(
      180deg,
      #fffbf8 0%,
      #fffbf8 43.75%,
      rgba(255, 251, 248, 0) 100%
    );
  }
  .logo-section {
    /* Client Logo */
  
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 107px 137px;
    gap: 10px;
  
    /* position: absolute; */
    /* width: 1399px;
    height: 562px; */
    /* left: 260px;
    top: 10210px; */
  
    background: #f5f1ef;
  }